skip_commits:
  message: /^Merge pull request /

build: false

environment:
  PYTHONIOENCODING: "UTF-8"

  matrix:
    - PYTHON_VERSION: "3.9"
      PYTHON_ARCH: "64"
      CONDA_PY: "37"
      CONDA_INSTALL_LOCN: "C:\\Miniconda37-x64"

install:
  - call %CONDA_INSTALL_LOCN%\Scripts\activate.bat
  - python --version
  - conda config --set always_yes yes
  - conda update -y conda
  - conda install -y -c conda-forge -c cmutel -c romainsacchi -c konstantinstadler numpy pandas bw2io bw2data wurst xarray pycountry pytest pytest-cov coveralls prettytable carculator carculator_truck
  - pip install -e .

test_script:
  - pytest -m "not ecoinvent"
