include premise/data/*.txt
include premise/data/*.xlsx
include premise/data/*.csv
include premise/data/remind_output_files/*.mif
include premise/data/remind_output_files/*.csv
include premise/data/additional_inventories/*.xlsx
include premise/data/electricity/*.csv
include premise/data/cement/*.csv
include premise/data/steel/*.txt
