include rmnd_lca/data/*.txt
include rmnd_lca/data/*.xlsx
include rmnd_lca/data/*.csv
include rmnd_lca/data/remind_output_files/*.mif
include rmnd_lca/data/remind_output_files/*.csv
include rmnd_lca/data/additional_inventories/*.xlsx
include rmnd_lca/data/electricity/*.csv
include rmnd_lca/data/cement/*.csv
include rmnd_lca/data/steel/*.txt
