include premise/data/*.txt
include premise/data/*.csv
include premise/data/*.json
include premise/data/*.yml
include premise/data/*.yaml
include premise/data/iam_output_files/*.md
include premise/data/iam_output_files/*.csv
include premise/data/iam_output_files/fleet_files/image/passenger_cars/*.csv
include premise/data/iam_output_files/fleet_files/remind/passenger_cars/*.csv
include premise/data/iam_output_files/fleet_files/image/trucks/*.csv
include premise/data/iam_output_files/fleet_files/remind/trucks/*.csv
include premise/data/iam_output_files/fleet_files/*.csv
include premise/data/additional_inventories/*.xlsx
include premise/data/additional_inventories/*.pickle
include premise/data/additional_inventories/*.csv
include premise/data/electricity/*.csv
include premise/data/electricity/*.yml
include premise/data/electricity/*.yaml
include premise/data/cement/*.csv
include premise/data/cement/*.yml
include premise/data/steel/*.txt
include premise/data/steel/*.csv
include premise/data/steel/*.yml
include premise/data/steel/*.yaml
include premise/data/fuels/*.txt
include premise/data/fuels/*.csv
include premise/data/fuels/*.yml
include premise/data/fuels/*.yaml
include premise/data/transport/*.yaml
include premise/data/GAINS_emission_factors/*.csv
include premise/data/GAINS_emission_factors/*.yaml
include premise/data/GAINS_emission_factors/iam_data/CLE/*.csv
include premise/data/GAINS_emission_factors/iam_data/MFR/*.csv
include premise/data/geomap/*.yml
include premise/data/geomap/*.yaml
include premise/data/renewables/*.csv
include premise/data/direct_air_capture/*.yaml
include premise/data/utils/*.csv
include premise/data/utils/*.yml
include premise/data/utils/*.yaml
include premise/data/utils/*.json
include premise/data/utils/export/*.csv
include premise/data/utils/export/*.json
include premise/data/utils/export/*.yml
include premise/data/utils/export/*.yaml
include premise/data/utils/report/*.yaml
include premise/data/utils/logging/*.yaml
include premise/iam_variables_mapping/*.yaml
include premise/iam_variables_mapping/*.xlsx
include premise/data/consequential/*.yaml
