bottleneck
bw2data
bw2io>=0.8.10
constructive_geometries>=0.8.2
cryptography
datapackage
numpy
pandas
platformdirs
premise_gwp
prettytable
pyarrow
pycountry
pyYaml
requests
schema
sparse>=0.14.0
wurst
xarray
