numpy<2.0.0
bottleneck
bw2data
bw2io
ecoinvent_interface
constructive-geometries>=1.0.0
cryptography
datapackage
pandas
platformdirs
premise_gwp
prettytable
pyarrow
pycountry
pyYaml
requests
schema
scipy<1.14.0
sparse>=0.14.0
wurst>=0.4
xarray<=2024.2.0
tqdm
unfold